.main {
    position: relative;
    z-index: 1;
    background-color: var(--color-container);
    border-radius: 50px 50px 0 0;
}

.main-subsection{
    background-color: var(--color-container-item);
    border-radius: 50px;
}

.main-subsection-top-more{
    background-color: rgba(219,234,141,1);
}